body.wu-styling:not(.wu-customize-admin-screen) div.postbox-header {
  display: none;
}

body.wu-styling.wu-customize-admin-screen .wu-inline-widget {
  border: dashed 1px #cccccc;
  padding: 4px 12px 12px;
  margin: 12px 0;
  border-radius: 3px;
}

body.wu-styling #wu-admin-screen-customize,
body.wu-styling #wu-admin-screen-page-customize {
  margin-left: 6px;
  padding-right: 16px;
}

body.wu-styling #wu-admin-screen-customize::after,
body.wu-styling #wu-admin-screen-page-customize::after {
  display: none !important;
}

body.wu-styling #show-settings-link {
  display: none;
}
