#wu-jumper {
  box-sizing: border-box;
  position: fixed;
  top: 25%;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  background: #f9f9f9;
  z-index: 99999;
  border-radius: 5px;
  border: solid 1px #cccccc;
  -webkit-box-shadow: 0 0 5000px 5000px rgba(0, 0, 0, .2);
     -moz-box-shadow: 0 0 5000px 5000px rgba(0, 0, 0, .2);
          box-shadow: 0 0 5000px 5000px rgba(0, 0, 0, .2);
  /* @group Base */
  /* @end */
  /* @group Single Chosen */
  /* @end */
  /* @group Results */
  /* @end */
  /* @group Multi Chosen */
  /* @end */
  /* @end */
  /* @group Disabled Support */
  /* @end */
  /* @group Retina compatibility */
  /* @end */
}
#wu-jumper .wu-jumper-icon-container::before {
  font-family: dashicons-wu, sans-serif !important;
  content: "\e900";
  position: absolute;
  top: 50%;
  right: 15px;
  font-size: 36px;
  margin-top: -18px;
  height: 36px;
  line-height: 36px;
}
#wu-jumper * {
  box-sizing: border-box;
}
#wu-jumper label {
  display: block;
  text-transform: uppercase;
  padding: 20px;
}
#wu-jumper .selectize-control {
  width: 100%;
}
#wu-jumper .wu-chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#wu-jumper .wu-chosen-container-single .wu-chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
  border: solid 1px #cccccc;
  border-top: none;
}
#wu-jumper .wu-chosen-container .wu-chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border-top: 0;
  background: #ffffff;
}
#wu-jumper .wu-chosen-container.wu-chosen-with-drop .wu-chosen-drop {
  left: 0;
}
#wu-jumper .wu-chosen-container * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#wu-jumper .wu-chosen-container a {
  cursor: pointer;
}
#wu-jumper .wu-chosen-container .search-choice .group-name,
#wu-jumper .wu-chosen-container .wu-chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}
#wu-jumper .wu-chosen-container .search-choice .group-name::after,
#wu-jumper .wu-chosen-container .wu-chosen-single .group-name::after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}
#wu-jumper .selectize-control.single .selectize-input::after {
  display: none !important;
}
#wu-jumper .selectize-dropdown {
  margin-top: 0 !important;
  background-color: #fcfcfc;
  border: solid 1px #dddddd;
}
#wu-jumper .selectize-input {
  margin-bottom: -7px;
  position: relative;
  display: block;
  overflow: hidden;
  color: #444444;
  border: none;
  box-shadow: none;
  background: none;
  text-decoration: none;
  white-space: nowrap;
  line-height: 70px;
  padding: 0 15px;
}
#wu-jumper .selectize-input .item {
  font-size: 18pt;
}
#wu-jumper .selectize-input input {
  font-size: 18pt;
}
#wu-jumper .selectize-input.single::after {
  display: none !important;
}
#wu-jumper .wu-chosen-container-single .wu-chosen-default {
  color: #999999;
}
#wu-jumper .wu-chosen-container-single .wu-chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#wu-jumper .wu-chosen-container-single .wu-chosen-single-with-deselect span {
  margin-right: 38px;
}
#wu-jumper .wu-chosen-container-single .wu-chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  font-size: 1px;
}
#wu-jumper .wu-chosen-container-single .wu-chosen-single abbr:hover {
  background-position: -42px -10px;
}
#wu-jumper .wu-chosen-container-single.wu-chosen-disabled .wu-chosen-single abbr:hover {
  background-position: -42px -10px;
}
#wu-jumper .wu-chosen-container-single .wu-chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
#wu-jumper .wu-chosen-container-single .wu-chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
}
#wu-jumper .wu-chosen-container-single .wu-chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  white-space: nowrap;
}
#wu-jumper .wu-chosen-container-single .wu-chosen-search input[type="text"] {
  margin: 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  box-shadow: none !important;
  background-color: #fcfcfc;
  border: none;
  border-bottom: solid 1px #dddddd;
  border-top: solid 1px #dddddd;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
#wu-jumper .wu-chosen-container-single.wu-chosen-container-single-nosearch .wu-chosen-search {
  position: absolute;
  left: -9999px;
}
#wu-jumper .wu-chosen-container .wu-chosen-results {
  color: #444444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
#wu-jumper .wu-chosen-container .wu-chosen-results li {
  display: none;
  margin: 0;
  padding: 15px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}
#wu-jumper .wu-chosen-container .wu-chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
#wu-jumper .wu-chosen-container .wu-chosen-results li.disabled-result {
  display: list-item;
  color: #cccccc;
  cursor: default;
}
#wu-jumper .wu-chosen-container .wu-chosen-results li.highlighted {
  color: #ffffff;
}
#wu-jumper .wu-chosen-container .wu-chosen-results li.no-results {
  color: #777777;
  display: list-item;
  background: #f4f4f4;
}
#wu-jumper .wu-chosen-container .wu-chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
#wu-jumper .wu-chosen-container .wu-chosen-results li.group-option {
  padding-left: 15px;
}
#wu-jumper .wu-chosen-container .wu-chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}
#wu-jumper .wu-chosen-container-multi .wu-chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto !important;
  height: 1%;
  background-color: #ffffff;
  cursor: text;
}
#wu-jumper .wu-chosen-container-multi .wu-chosen-choices li {
  float: left;
  list-style: none;
}
#wu-jumper .wu-chosen-container-multi .wu-chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
#wu-jumper .wu-chosen-container-multi .wu-chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  background: transparent !important;
  color: #999999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
#wu-jumper .wu-chosen-container-multi .wu-chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  color: #333333;
  line-height: 13px;
  cursor: default;
}
#wu-jumper .wu-chosen-container-multi .wu-chosen-choices li.search-choice span {
  word-wrap: break-word;
}
#wu-jumper .wu-chosen-container-multi .wu-chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
#wu-jumper .wu-chosen-container-multi .wu-chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  font-size: 1px;
}
#wu-jumper .wu-chosen-container-multi .wu-chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
#wu-jumper .wu-chosen-container-multi .wu-chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  background-color: #e4e4e4;
  color: #666666;
}
#wu-jumper .wu-chosen-container-multi .wu-chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
#wu-jumper .wu-chosen-container-multi .wu-chosen-results {
  margin: 0;
  padding: 0;
}
#wu-jumper .wu-chosen-container-multi .wu-chosen-drop .result-selected {
  display: list-item;
  color: #cccccc;
  cursor: default;
}
#wu-jumper .wu-chosen-disabled .wu-chosen-single {
  cursor: default;
}
#wu-jumper .wu-chosen-container-active.wu-chosen-with-drop .wu-chosen-single {
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
}
#wu-jumper .wu-chosen-container-active.wu-chosen-with-drop .wu-chosen-single div {
  border-left: none;
  background: transparent;
}
#wu-jumper .wu-chosen-container-active.wu-chosen-with-drop .wu-chosen-single div b {
  background-position: -18px 2px;
}
#wu-jumper .wu-chosen-container-active .wu-chosen-choices li.search-field input[type="text"] {
  color: #222222 !important;
}
#wu-jumper .wu-chosen-disabled {
  opacity: .5 !important;
  cursor: default;
}
#wu-jumper .wu-chosen-disabled .wu-chosen-container-multi.wu-chosen-choices li.search-choice .search-choice-close {
  cursor: default;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  #wu-jumper .wu-chosen-rtl .wu-chosen-search input[type="text"],
  #wu-jumper .wu-chosen-container-single .wu-chosen-single abbr,
  #wu-jumper .wu-chosen-container-single .wu-chosen-single div b,
  #wu-jumper .wu-chosen-container-single .wu-chosen-search input[type="text"],
  #wu-jumper .wu-chosen-container-multi .wu-chosen-choices .search-choice .search-choice-close,
  #wu-jumper .wu-chosen-container .wu-chosen-results-scroll-down span,
  #wu-jumper .wu-chosen-container .wu-chosen-results-scroll-up span {
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}

#wu_jumper_select_chosen {
  /* stylelint-disable-line selector-id-pattern */
  margin: 0;
  width: 100% !important;
  padding: 0;
}

#wu_jumper_select_chosen input {
  /* stylelint-disable-line selector-id-pattern */
  outline: none;
  width: 100%;
  padding: 20px !important;
}

span.wu-keys {
  margin-right: 20px;
}

span.wu-keys-key {
  display: inline-block;
  padding: 0 5px 1px;
  border: solid 2px #999999;
  border-radius: 3px;
  margin: 0 2px;
}

.wu-jumper-loading,
.wu-jumper-redirecting {
  border-top: solid 1px #cecece;
  padding: 10px;
  text-align: center;
  display: none;
}

body.rtl #wu-jumper .wu-chosen-container-single .wu-chosen-single::after {
  right: auto;
  left: 15px;
}

body.rtl #wu-jumper .wu-chosen-container-single .wu-chosen-single span {
  margin-right: 0;
  margin-left: 26px;
}
